@use './../variable/variable';

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
    padding: 55px;

    &_content{
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
        border-radius: 10px;
        border: 1px solid $whitecolor;
        min-height: 35vh;
        margin: 15px;
        padding: 15px;
        font-size: 1.3rem;
        font-family: $navfonts;
        cursor: pointer;

        &:hover{
            .card-icon{
                color: $whitecolor;
            }
            background-color: $maincolor ; 
            color: $whitecolor;           
        }

        .card-icon{
            font-size: 2rem;
            color: $maincolor;
          }
          
    }

    @include tablet{
        display: flex;
        flex-direction: column;
        padding: 10px;

        .card_container_content{
            width: 55vw;
        }
      }

    @include ipaidair {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .card_container_content{
            width: 55vw;
        }
    }  
}