.count{
    display: flex;
    background-image: $countimg;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
    width: auto;
    min-height: 50vh;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-content: center;
    padding: 25px;
    // margin-top: 8% !important;
    // margin: 25px;

    .staff-count{
        margin-top: 55px;
        width: 20vw;
        padding: 45px;
        color: $whitecolor;

        h1{
            font-size: $title;
        }

        p{
            font-size: 1.4rem ;
            font-weight: 400;
        }
    }

    @include tablet {
        display: flex;
        flex-direction: column;

        .staff-count{
            width: 80%;
            padding: 0;
        }
    }

    @include ipaidair {
        display: flex;
        flex-direction: column;

        .staff-count{
            width: 80%;
            padding: 0;
        }
    }
}