@use '../variable/variable';

.fotter{
    background-image: linear-gradient(135deg, #d72723 10%, #d21f5a 100%);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    margin: 0 auto;

    @include tablet{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    @include ipaidair{
        display: flex;
        flex-direction: column;
        text-align: center;
    }    
    p{
        font-size: 1rem;
        color: $whitecolor;
    }

    h1{
        font-size: $title;
        color: $whitecolor;
        margin: 0;
        padding: 0;
    }

    button{
        background-color: transparent;
        padding: 15px;
        color: $whitecolor;
        border: 2px solid $whitecolor;
        border-radius: 10px;
        font-size: 1.2rem;

        &:hover{
            background-color: white;
            color: $maincolor;
            cursor: pointer;
        }
    }

    
}

.fotter-links{
    background-image: linear-gradient(135deg, #080808 10%, #2d2c2c 100%);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    margin: 0 auto;

    a{
        color: $whitecolor;
        font-size: 1.5rem;
        margin: 15px;

        &:hover{
            color: $maincolor;
            cursor: pointer;
        }
    }

    @include tablet{
    
        h1{
                font-size: 1.2rem !important;
            }
        
    }

    @include ipaidair {
        h1{
            font-size: 1.2rem !important;
        }
    }
}