@import "../variable/variable";
@import "../media-queries";

.home_container {
  background-image: $backgroundimg;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  place-items: flex-end;
  width: auto;
  z-index: 1;
  padding: 0.5rem calc((100vw - 1440px) / 2);
  flex-direction: column;

  &_content {
    display: flex;
    width: auto;
    height: auto;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    margin-top: 10%;
    padding: 0.5rem calc((100vw - 1440px) / 2);
    color: rgb(255, 253, 253);
    // opacity: 0.8;
    font-weight: 1000;

    .home_container_btn {
      @include btnstyle;
      display: flex;
      color: $whitecolor;
      border: 2px solid $maincolor;
      background-color: $maincolor;
      margin: 35px;

      &:hover {
        background-color: $whitecolor;
        color: $maincolor;
      }
    }

    h1 {
      font-size: $title;
      margin: 10px;
      font-family: $titlefont;
    }

    p {
      font-size: $description;
      margin: 5px;
      font-family: "Fuzzy Bubbles";
    }
  }

  @include tablet {
    height: auto;
    width: auto;

    .home_container_content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @include ipaidair {
    height: auto;
    width: auto;

    .home_container_content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
