@import '../variable/variable';
@import '../media-queries';

.navbar_container{
    display: flex;
    width: auto;
    max-height: 5vh;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 10;
    position: sticky !important;
    padding: 0.5rem calc((100vw - 1440px) /2) ;
    font-family: $navfonts;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
   

    .toggle_navlinks{
        background-color: rgb(196, 193, 193);
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 35vw;
        height: 100vh;
        padding: 15px;
        justify-content: left;
        right: 0 !important;
        align-items: left;
               

        a{
            text-decoration: none;
            font-size: 1.2rem;
            padding: 15px;
            color: black;

            &:hover{
                color: $maincolor
            }
        }

        button{
            @include btnstyle;
            font-family: $navfonts;
            margin-left: 20px;
            width: fit-content;

            &:hover{
                background-color: $maincolor;
                color: $whitecolor;
            }
        }
    }
    
    &_logo{
        display: flex;
        justify-content: left;
        
        img{
            height: auto;
            position: relative;
            width: auto;
        }
    }

    &_bars{
        opacity: 0;

        @include tablet{
            color: $blackcolor;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 1.5rem;

            &:hover{
                color: $maincolor;
            }

        }
    }

    &_links{
        display: flex;
        justify-content: right;
        place-content: right;
        align-items: right;

        a{
            text-decoration: none;
            margin: 10px;
            color: black;

            &:hover{
                color: $maincolor;
            }
        }
      

        button{
            @include btnstyle;
            font-family: $navfonts;
            margin-left: 20px;

            &:hover{
                background-color: $maincolor;
                color: $whitecolor;
            }
        }

        @include tablet{
            display: none;
            position: fixed;
        }

        @include ipaidair{
            height: auto;
            width: auto;
        }

        
    }
}