@use '../variable/variable';
@use '../media-queries';

.news-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: auto;
    padding: 0%;
    margin-top: 5%;

    p{
        font-size: 1rem;
    }

}

.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .first-news{
        background-image: $first-news;
        @include newsstyle;            
    }

    .second-news{
        background-image: $second-news;
        @include newsstyle;
 
    }

    .third-news{
        background-image: $third-news;
        @include newsstyle;
}

@include tablet{
    display: flex;
    flex-direction: column;
}

@include ipaidair{
    display: flex;
    flex-direction: column;
    
    .first-news{
        background-image: $first-news;
        @include newsstyle; 
        width: 50vw;           
    }

    .second-news{
        background-image: $second-news;
        @include newsstyle;
        width: 50vw;
 
    }

    .third-news{
        background-image: $third-news;
        @include newsstyle;
        width: 50vw;
}

}
    
}