.process{
    border: 2px solid #f0f1f3;
    background-color: #f0f1f3;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-content: center;
    align-items: center;
    // margin-top: 8%;
    height: 100%;
    
    .bd{
        img{
        height: auto;
        width: 34vw;
     }
    }

    .process-content{
        display: flex;
        flex-direction: column;
        padding: 25px;
        width: 30%;
        p{
            font-size: 1.1rem;
            font-family: $navfonts;
            word-spacing: 4px;
        }

        .process-btn{
            @include btnstyle;
            border-radius: 10px;
            border-color: $maincolor;
            background-color: $maincolor;
            color: $whitecolor;
            width: 15vw;
            height: auto;

            &:hover{
                box-shadow: 10px 5px 10px gray;
            }

        }
    }

    @include tablet{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .process-content{
            width: 100%;
            display: flex;
            padding: 15px;
            justify-content: center;
            align-items: center;
            place-content: center;

            .process-btn{
                width: auto;
            }
        }

        .bd{
            img{
            height: auto;
            width: 55vw;
            margin-top: 10%;
         }
        }
    }

    @include ipaidair{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .process-content{
            width: 100%;
            display: flex;
            padding: 15px;
            justify-content: center;
            align-items: center;
            place-content: center;

            .process-btn{
                width: auto;
            }
        }

        .bd{
            img{
            height: auto;
            width: 55vw;
            margin-top: 10%;
         }
        }
    }

}