@use '../variable/variable';

.services{
    display: flex;
    border: 2px solid #f0f1f3;
    background-color: #f0f1f3;
    border-radius: 15px 15px 0 0;
    flex-direction: row;
    min-height: 50vh;
    height: auto;
    justify-content: center;
    align-items: center;
    place-content: center;
    padding: 25px;
    font-family: $navfonts;

    .service-title{
        p{
            font-size: 1.2rem;
        }
    }

    .service-name{
        padding: 10px;
        h3{
            font-weight: 800;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .sr-img{
        width: 18vw;
        height: auto;
    }
    .read-more{
        font-size: 1.2rem;
    &:hover{
        color: $maincolor;
        cursor: pointer;
    }
}

    @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-content: center;
        text-align: center;
        padding: 10px;

        .sr-img{
            width: 40vw;
        }

        .service-title{
            padding: 20px;
        }
        .service-name{
            padding: 20px;
        }

      }

      @include ipaidair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        place-content: center;
        text-align: center;
        padding: 10px;

        .sr-img{
            width: 40vw;
        }

        .service-title{
            padding: 20px;
        }
        .service-name{
            padding: 20px;
        }

      }
}

