@use '../variable/variable';

.team-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    place-content: center;
    margin: 0 auto;
    align-items: center;
    width: 60%;
    margin-top: 5%;
}

.team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
    text-align: center;

    .team-member{
        .member-pic{
            width: auto;
            height: 45vh;
            padding: 25px;
        }

        h4{
            font-size: 1.3rem;
            margin: 0 !important;
        }

        .icon{
            font-size: 1rem;
            
            span{
                margin: 5px;

                span:hover{                
                    color: $maincolor;
                }
            }
          }


    }

    @include tablet{
        display: flex;
        flex-direction: column;
    }

    @include ipaidair{
        display: flex;
        flex-direction: column;
    }
}