// colors
$whitecolor : #ffffff ;
$maincolor : #f8024d;
$blackcolor : #000000;

// fonts
$navfonts : 'Poppins', sans-serif;
$titlefont :'Playfair Display', serif;

// font size
$title : 4rem;
$description : 2rem;

// images
$backgroundimg: url('../../assets/img/bggg.jpg');
$countimg: url('../../assets/img/staff.jpg');
$first-news: url('../../assets/img/news1.jpg');
$second-news: url('../../assets/img/news2.jpg');
$third-news: url('../../assets/img/news3.jpg');

// mixin

@mixin  btnstyle {
    padding: 10px;
    border-radius: 5px;
    background-color: $whitecolor;
    width: auto ;

}

@mixin newsstyle{
    height: 60vh;
        margin: 25px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: flex-end;
        color: white; 
        perspective-origin: 50% 50%;
        transform-style: preserve-3d;
        transform-origin: top center;
        will-change: transform;
        transform: skewX(.001deg);
        transition: transform .35s ease-in-out;

        &::after {
            display: block;
            content: '';
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 120%;
            background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
            transform: translateY(-20%);
            will-change: transform;
            transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
          }

          &:hover {
            transform: rotateX(7deg) translateY(-6px);
        
            &::after {
              transform: translateY(0%);
            }
        }
}