@use './media-queries';

.root{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    // width: 1440px

}

.container{
    padding: 25px
}

@import './components/navbar';
@import './components/home';
@import './components/cards';
@import './components/services';
@import './components/count';
@import './components/process';
@import './components/team';
@import './components/news';
@import './components/fotter'