@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 280px) {
        @content;
    }
}

@mixin ipaidair {
    @media screen and (min-width:820px) and  (max-width: 1180px) {
        @content;
    }
}
